* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
}

/* Landing Section */
.landing {
    max-width: 900px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.title {
    color: #2f55d4;
    font-size: 32px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.landing p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 16px;
    background-color: #2f55d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1e3fa8;
}


.footer {
    text-align: center;
    padding: 15px;
    background-color: #2f55d4;
    color: white;
    margin-top: 50px;
}